parcial/BANCOPARCIAL/WindowsFormsApp1/WindowsFormsApp1/Connected Services/ServiceImpuestos/WebService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SincronizarFechaHora">
        <s:complexType />
      </s:element>
      <s:element name="SincronizarFechaHoraResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SincronizarFechaHoraResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCufd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idambiente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modelidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="obtenerCufdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="obtenerCufdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirFactura">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idambiente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="modelidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nit" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Cufd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EmitirFacturaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmitirFacturaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SincronizarFechaHoraSoapIn">
    <wsdl:part name="parameters" element="tns:SincronizarFechaHora" />
  </wsdl:message>
  <wsdl:message name="SincronizarFechaHoraSoapOut">
    <wsdl:part name="parameters" element="tns:SincronizarFechaHoraResponse" />
  </wsdl:message>
  <wsdl:message name="obtenerCufdSoapIn">
    <wsdl:part name="parameters" element="tns:obtenerCufd" />
  </wsdl:message>
  <wsdl:message name="obtenerCufdSoapOut">
    <wsdl:part name="parameters" element="tns:obtenerCufdResponse" />
  </wsdl:message>
  <wsdl:message name="EmitirFacturaSoapIn">
    <wsdl:part name="parameters" element="tns:EmitirFactura" />
  </wsdl:message>
  <wsdl:message name="EmitirFacturaSoapOut">
    <wsdl:part name="parameters" element="tns:EmitirFacturaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SincronizarFechaHora">
      <wsdl:input message="tns:SincronizarFechaHoraSoapIn" />
      <wsdl:output message="tns:SincronizarFechaHoraSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCufd">
      <wsdl:input message="tns:obtenerCufdSoapIn" />
      <wsdl:output message="tns:obtenerCufdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EmitirFactura">
      <wsdl:input message="tns:EmitirFacturaSoapIn" />
      <wsdl:output message="tns:EmitirFacturaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizarFechaHora">
      <soap:operation soapAction="http://tempuri.org/SincronizarFechaHora" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCufd">
      <soap:operation soapAction="http://tempuri.org/obtenerCufd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirFactura">
      <soap:operation soapAction="http://tempuri.org/EmitirFactura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SincronizarFechaHora">
      <soap12:operation soapAction="http://tempuri.org/SincronizarFechaHora" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCufd">
      <soap12:operation soapAction="http://tempuri.org/obtenerCufd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmitirFactura">
      <soap12:operation soapAction="http://tempuri.org/EmitirFactura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44342/WebService2.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44342/WebService2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>